.skill-card > img {
    width: 40px;
}

.img-perfil {
    width: 100px;
    height: 100px;
}

nav {
    display: flex;
    gap: 1.25rem;
}

nav a {
    color: white;
}

header > h1 {
    color: white;
}

header {
    background-color: black;
    border-radius: 10px;
}